.videodetails{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#frame{
    width: 500px;
    height: 350px;
    margin-top: 20px;
}
.details{
    width: 500px;
    height: 150px;
    margin-left: 25%;
}
.details h4{
    font-size: 16px;
    padding: 10px 0;
}
.details p{
    font-size: 14px;
}
